/* projects page */
.project-container {
    min-height: 92%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .project-box {
    margin:20px;
    margin-top: 50px;
    padding: 10px;
    background-color: #2e3c41;
    border: 3px solid #4d7380;
    min-height: 250px;
    max-width: 1750px;
    min-width: 95.4%;
    position: relative;
  }
  
  .project-title {
    font-size: 35;
    margin-top: 10px;
    margin-bottom: 0;
    position:relative;
    z-index: 1;
  }
  
  .project-reason {
    font-size: 20;
    margin-top: 0px;
    padding-left: 30px;
  }
  
  .project-image {
    max-width: 28%;
    max-height: 80%;
    position: absolute;
    right:5%;
    top: 10%;
    z-index: 0;
  
  }
  
  .project-finished-on {
    font-size: 15;
    margin-top: 35px;
  }
  
  .project-description {
    font-family: sans-serif;
    font-size: 13;
    max-width: 60%;
    position:relative;
    z-index: 1;
  }