body {
  font-family: 'Libre Baskerville', serif;
  color: lightgray;
  background-color: #1d2b30;
  margin: 0;
  bottom: 0;
}



/* nav bar */
#navbar {
  min-height: 8%;
  min-width: 100%;
  /* border: 1px solid white; */
  background-color: #4d7380;
  display:inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-container {
  display:inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: lightgray;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link.unactive:hover {
  cursor: pointer;
}


/* home page */
.text-container {
  min-height: 92%;
  display: flex;
  height: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}


.text-name {
  font-size: 100;
  font-weight: bold;
}

.text-description {
  font-size: 20;
  padding-bottom: 400px;
}

/* projects page */
.project-container {
  min-height: 92%;
  display: flex;
  height: auto;
  /* text-align: center; */
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.project-box {
  border: 2px solid black;
  margin:20px;
  margin-top: 50px;
  padding: 10px;
  background-color: #4d7380;
  min-height: 250px;
  max-width: 1750px;
  position: relative;
}

.project-title {
  font-size: 35;
  margin-top: 10px;
  margin-bottom: 0;
  position:relative;
  z-index: 1;
}

.project-reason {
  font-size: 20;
  margin-top: 0px;
  padding-left: 30px;
}

.project-image {
  width: 300px;
  max-width: 28%;
  max-height: 250px;
  position: absolute;
  right:5%;
  top: 10%;
  z-index: 0;

}

.project-finished-on {
  font-size: 15;
  margin-top: 35px;
}

.project-description {
  font-size: 13;
  max-width: 70%;
  position:relative;
  z-index: 1;
}


/* about page */
.about-container {
  min-height: 92%;
  display: flex;
  height: auto;
  /* text-align: center; */
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 40px;
}

.about-name {
  font-size: 60px;
  text-decoration: underline;
  padding-left: 40px;
}

.about-image {
  max-width: 15%;
  border: 5px solid #4d7380;
  border-radius: 15%;
  position: absolute;
  right: 15%;
  top: 15%;
}

.about-text {
  max-width: 50%;
  min-width: 15%;
  background-color: #2e3c41;
  border: 3px solid #4d7380;
  padding: 15px;
}
