<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>About - Lane Thompson Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nunito:wght@700&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="https://thomlane.github.io/css/style.css">
  </head>
  <body>
    <nav id="navbar">
      <div id='nav-container'>
        <a href="../index.html" class="nav-link unactive">Home</a>
        <a href="./projects.html" class="nav-link unactive">Projects</a>
        <a href="./about.html" class="nav-link active">About</a>
      </div>
    </nav>
    <div class='about-container'>
      <h1 class='about-name'>Lane Thompson</h1>
      <img class='about-image' src="../images/me.jpg" alt="Quill and I">
      <p class='about-text'>
        &emsp; I am a graduate in computer science at Oregon State University. My focus
        has been in simulation with an interest in AR. I switched to a CS major
        from mechanical engineering in 2018 after 3 years in college. While I
        had a lot of fun studying as an ME, none of the work seemed entertaining
        enough to start a career in, so I switched.
        <br><br>&emsp; My life interests are soccer, gaming, and music,
        typically in that order. I spent 13 years of my child hood playing
        soccer and then spent my first two years of college playing on the men's
        soccer team of Southwestern Oregon Community College. I still play with
        the Oregon State club team and I am always looking for ways to keep
        playing and to keep getting better.
        <br><br>&emsp; As for music, I am part of a local Blues/Funk fusion band
        called Church Ladies. We are currently a 5-piece in which I play
        baritone saxophone. We often play local bars and sometimes larger shows
        like local festivals. COVID has made it hard to do live shows, but we
        still get to practice together and even got to record an EP.
        <br><br>&emsp; Finally, my last hobby is videogames. Videogames have and
        always will be a great love of mine, and what made me decide to pick
        CS when I wanted a change in major. Videogames both as
        recreation and as an art form are amazing, and I am excited to see how
        videogames evolve in the coming years.
        <br><br>During my time since finishing my degree I have been learning
        applications of my graphics knowledge. I have mostly been working using
        the Unity engine to create small games and simulations. I also am
        joining a small indie team of developers to work on personal game ideas.
        On this team I will be the lead on the use of shaders in the game.
        <br><br>&emsp; I am excited to have a chance to use the knowledge I
        gained at University after so many years of studying at work that is
        exciting and inspiring. I am currently looking for jobs in a couple of
        fields and I am hoping to gather experience from the professional world
        so I can narrow down where I want my career to go.
      </p>
    </div>
  </body>
</html>
