<!-- <!DOCTYPE html> -->
<html>

<head>
    <title>Projects - Lane Thompson Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nunito:wght@700&display=swap"
        rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="https://thomlane.github.io/css/style.css">
    <!-- <script src="../sb-starter/sb.min.js"></script> -->
    <script src="https://unpkg.com/sberry@0.0.3-alpha.0/dist/sb.min.js"></script>
</head>
<script>
    const data = sb.init();
    var projectPath = "https://thomlane.github.io/data/projects.json";
    fetch(projectPath).then(response => response.json()).then(data => {
        console.log(data);
    });
    // var projectContent = readfile(projectPath);
    // var projectData = JSON.parse(projectContent);
    // data.project_list = projectData
</script>

<body> 
    <nav id="navbar">
        <div id='nav-container'>
            <a href="../index.html" class="nav-link unactive">Home</a>
            <a href="./projects.html" class="nav-link active">Projects</a>
            <a href="./about.html" class="nav-link unactive">About</a>
        </div>
    </nav>
    <div>
        <p sb-mark="project_list"></p>
    </div>
    <div sb-mark="project_list.#" class='project'> <!-- Sets each project in it's own project box inside the project container -->
        <h1 sb-mark='project_list.#.title' class='project-title'></h1>              <!-- a catchy title-->
        <h2 sb-mark='project_list.#.reason' class='project-reason'></h2>            <!-- a short reason I did the project (ie. school project, personal project...) -->
        <!-- <img sb-mark='project_list.#.image' class='project-image' src="project_list.#.image">           an image of the project -->
        <h3 sb-mark='project_list.#.finished_on' class='project-finished-on'></h3>  <!-- the approximate date the project was finished -->
        <p sb-mark='project_list.#.description' class='project-description'></p>    <!-- an in-depth description of the project that shows off what I did or learned -->
    </div>
</body>

</html>